$effectmonsterbg:#ff8400;
$darkorangeborder: 5px solid #f16702;
$robotocondensed:'Roboto Condensed', sans-serif;
$xyzbg:#1B252C;
$synchrobg:#A1A6B2;
$ritualbg:#7B8ED2;
$normalmonsterbg:#B18151;
$spellbg:#12858E;
$trapbg:#A93583;
$fusionbg:#734490;
$orientation:vertical;
$pendulumbg:filter-gradient($effectmonsterbg, $spellbg, $orientation);





/*! normalize.css - http://github.com/necolas/normalize.css */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7.
 */

body {
    margin: 0;
    font-size: 16px;
}

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome.
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Addresses margins set differently in IE6/7.
 */

p,
pre {
    margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE6/7.
 */

q {
    quotes: none;
}

/*
 * Addresses `quotes` property not supported in S4.
 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7.
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7.
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7.
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}



html {overflow-y: scroll; overflow-x: hidden;}
body {
	font-family: $robotocondensed; 
	background:#f0eeed; color: #676767;}

.wrapper {
	max-width: 1200px;
	width: 100%; 
	margin: 0 auto;
	padding-bottom: 1%;
	
	h1 {
		text-align: center;
	}
}
	
	

.header {
	background: $effectmonsterbg; 
	border-bottom: $darkorangeborder; 
	position: relative;
	
	
	&:after {
		content:"";
		height:0;
		display:block;
		visibility:hidden;
		clear:both;
	}
	
	.branding-title {
		margin: 0; 
		font: 0/0 serif; 
		text-shadow: none; 
		color: transparent; 
		padding: 14px 0;
		
		img.hero {
			width:100%;
		}
	}
}

#content {
	min-height: 1000px; 
	background: white;
}






.header .branding-title a {
	display: block; 
}


.header {
	
	.nav {
		//bottom: 20px; 
		//right: 29%;
		margin: 0; 
		//position: absolute;  
		z-index: 99999999;

		li {
			//display: inline-block;
			margin: 0; 
			list-style: none;
			text-align: center;
			
			a {
			    color: white;
			    text-decoration: none;
			    display: block;
			    //margin: 0 0 0 40px;
			   //text-align: right;
		
			    text-transform: uppercase;
			    white-space: nowrap; 
			}
			
		}
	}
	
}


.header .nav li.on a {text-decoration: underline;}
.header .nav li a:hover, .header .nav li a:active {color: #FFE200;}
.header .nav li.shirts a {background-position: 0px 0px;}
.header .nav li.contact a {background-position: 0px -105px;}
.header .nav li.search a {background-position: 0px -419px;}
.header .nav li.cart a {
    width: 122px;
    font-size: 0/95px serif;
    text-shadow: none;
    color: transparent;
    background-position: 16px -216px;
    margin: 0;
}
.header .nav li.cart a:hover {background-position: 16px -321px;}

.section.banner {height: 290px; background: #3d3d3d url('../images/banner-background.jpg') center center no-repeat;}
.section.banner .wrapper {position: relative;}
.section.banner .hero {position: absolute; top: -89px; left: 117px; z-index: 999;}
.section.banner .button {
    display: block;
    position: absolute;
    top: 97px;
    left: 530px;
    margin: 0;
    background-image: linear-gradient(bottom, rgb(35,124,219) 0%, rgb(39,136,232) 16%, rgb(119,184,249) 100%);
    background-image: -o-linear-gradient(bottom, rgb(35,124,219) 0%, rgb(39,136,232) 16%, rgb(119,184,249) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(35,124,219) 0%, rgb(39,136,232) 16%, rgb(119,184,249) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(35,124,219) 0%, rgb(39,136,232) 16%, rgb(119,184,249) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(35,124,219) 0%, rgb(39,136,232) 16%, rgb(119,184,249) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(35,124,219)),
        color-stop(0.16, rgb(39,136,232)),
        color-stop(1, rgb(119,184,249))
    );
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 5px solid #029af1;
    z-index: 0;
}
.section.banner a {
    width: 200px;
    padding: 20px 20px 20px 50px;
    display: block;
    text-decoration: none;
    background: url(../images/banner-link-arrow.png) 100% 50% no-repeat;
    color: #FFF;
}
.section.banner a:hover {
    color: #ffe200;
}
.section.banner h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    line-height: 1.3;
}
.section.banner p {
    color: #ffe200;
    font-style: italic;
    font-size: 14px;
    margin: 0;
}
.section.cards {
	ul.products {
		margin: 0 0 -17px 0; 
		padding: 0; 
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		
		li {
		 	display: inline-block;
			list-style: none;
			border: 1px solid #e3e1e0;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			width: 100%;
			max-width: 226px;
			text-align: center;
			text-transform: lowercase;
			padding: 1%;
			background: #f0eeed;
			margin: 0 0 1% 1%;
			position: relative;
			
			img {
			    width: 190px;
			}
			
			a {
			    background: white;
			    display: block;
			    padding: 30px 0 10px;
			    text-decoration: none;
			    color: #999;
			    opacity: .9;
			    
			    &:hover {
				    opacity: 1;
				    color: #666;
				}
			    
			    &:hover:after {
					content: '+';
			   		font-size: 50px; position: absolute; top: -10px; right: 25px; color: #f16702; vertical-align: top;    
				}
			}
						
			p {
			    margin-left: 0;
			    margin-right: 0;
			    width: auto;
			}
		}
	}
	
	
}



form {
	width: 375px; 
	margin: 34px auto;
	
	tr {
	    border: 1px solid #CCC;
	    background: #f4f3f2;
	}
	
	table {
		width: 375px; 
		margin-bottom: 16px;
	}
	
	th {
	    width: 85px;
	    border-right: 1px solid #CCC;
	    vertical-align: middle;
	    padding: 8px;
	}
	
	td {
	    padding: 15px 15px;
	    
	    select,
		input,
		textarea {
		    width: 100%;
		}
	}
	
	input[type="submit"] {
	    width: 375px;
	    text-align: center;
	    border: 1px solid #8e8e46;
	    background: #9c9f4e;
	    color: #FFF;
	    -webkit-border-radius: 2px;
	    border-radius: 2px;    
	    font-size: 14px;
	    text-transform: uppercase;
	    padding: 14px;
	}	
}

.search {
	form {
	    width: auto;
	    text-align: center;
	    
	    input[type="text"] {
		    font-size: 24px;
		    width: 70%;
		    line-height: 1.5;
		    vertical-align: top;
		    padding: 3px;
		}
		
		input[type="submit"] {
		    width: auto;
		    vertical-align: top;    
		}
	}
	
} 

.section.page.search {
	p {
		text-align: center;
	}
}


.pagination {
    text-align: center;
    margin: 1em 0;
    
	a,
	span {
	    padding: 5px 20px;
	    border: 1px solid #e3e1e0;
	    display: inline-block;    
	    text-decoration: none;
	    color: #676767;
	}
	span {
		background: #CCC;
		border-color: #999;
		color: #444;
	}
	a:hover {
		background: #f0eeed;
	}

}

.page p.message {
    background: #ffeca4;
    border: 1px solid #f16702;
    padding: 1em;
    width: 344px;
}

.effect {
	background: $effectmonsterbg;
}

.fusion {
	background: $fusionbg;
}

.synchro {
	background: $synchrobg;
}

.spell {
	background: $spellbg;
}

.trap {
	background: $trapbg;
}

.xyz {
	background: $xyzbg;
}

.pendulum {
	background: $pendulumbg;
}

.card-name-title {
	h1 {
		color: #000;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		font-size: 36px;
	}
}

.card {
	margin-top:2%;
	
	
	.card-picture {

		padding:2%;
		
		span {
			margin: 0 auto;
			display: inherit;
		}
		
		.card-description {
			padding: 0 8%;
			margin-top:5%;
		}
		
		.table {
			display: inline-block;
			float: left;

			text-align: center;
			margin-top:2%;
			font-size:25px;
			
			.title {
				
			}
			
			.card-info {
				font-weight: 700;
				background: #E6E6E6;
				font-size:36px;
			}
		}
		
		
	}

	
	.card-details {		
		padding: 0 2%;

		.table {
			margin: 0;
			min-height: 44px;
			height: 3%;
			text-align: center;
			padding: 0 0 1%;
			
			.title {
				text-transform: uppercase;	
				background: #ccc;
				padding: 2% 0;
			}		
			
			.card-info,
			.title {
				display: inline-block;
				padding: 2% 0;
				
			}
		}
		
		.level {
			display: inline-block;
			margin-left: 1%;
			position: relative;
			top: -2px;
		}
		
		.set-name {
			font-size: 24px;
			height: 4%;
		}
		
		.attribute {
			height: 4%;
			
			.title {
				padding-top: 5px;
			}
		}
		
		.card-description {
			min-height: 100px;
			
			.title {
				min-height: 100px;
			}
			
			.card-info {
				min-height: 100px;
			}
	
		}
		
		
		
	}

}








.breadcrumb {
    font-family: $robotocondensed;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0 48px;
}
.note-designer {
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.footer {
    background: #f0eeed;
    padding: 42px 0;
    font-size: 12px;
    color: #a5a5a5;
    font-family: $robotocondensed;
}
.footer ul {margin: 0; padding: 0; float: left;}
.footer ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    text-transform: lowercase;
}
.footer ul li:after {content:" | "}
.footer ul li:last-child:after {content:"";}
.footer p {margin: 0; text-align: right; padding-right: 3px;}
.footer a {text-decoration: none; color: #539def; margin: 0 10px;}
.footer li:first-child a {margin-left: 4px;}
.footer a:hover, .footer a:active {text-decoration: underline;}

@media (min-width: 468px) {
	.header {
		.branding-title {
			img.hero {
				width:436px;
				margin: 0 auto;
				display: table;
			}
		}
	}
}


@media (min-width: 768px) {
	
	.header {
		
		.wrapper {
			position: relative;
			
		}
		
		h1 {
			text-align: left;
		}
		
		
		.branding-title {
			img.hero {
				width:436px;
				display:inline-block;
			}
		}
		
		.nav {
			top: 120px; 
			right: 0;
			position: absolute;  
	
			li {
				display: inline-block;
								
				a {
				   margin: 0 0 0 40px;
				   text-align: right;
				  
				}
				
			}
		}
		
	}
	
	#content {
		.wrapper {
			h1 {
				text-align: center;
			}
			
			.pagination {
				text-align: right;
				width: 100%;
			}
		}
	}
	
	.card {
		.card-picture {
			.table {
				background:#ccc;	
			}
		}
		.card-details {
			min-height: 24px;
			.table {
				padding: 1% 2%;
				text-align: left;	
							
				&:nth-child(odd) {
					background:#ccc;	
				}
				
				.title {
					background: none;
				}
				
				.card-info,
				.title {
					padding: 1% 0;
				}
			}
		}
	}

}